<a href="https://colab.research.google.com/github/Soniprincy/Python/blob/main/Data_Structure.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a id='1'></a><center> <h3 style="background-color:orange; color:white" ><br>Python Data Structures<br></h3>

# `Types of Data Structures:`
* `List` | `Tuple`
* `Set` | `Dictionary`

|Data Structures type|Mutable|Comments|Indexing|Ordered|Duplicacy|
|----|----|----|----|----|----|
tuple ()|immutable|immutable version of list| possible|yes |allowed |
list []|mutable|-|possible |yes | allowed |
set {}|mutable| -|not |no |not |
dict {key:value}|mutable|-|possible |no |not  |

💫 `immutable` => `can't be changed` <br>
💫 `mutable` => `can be changed`

## Lists

### Create an empty list with the name ‘a’, print the value of a and type(a).

In [1]:
# create empty list, name it 'a'
a = []

In [2]:
# print the value of a

a

[]

In [3]:
# print the type of a
type(a)

list

### Create a list , languages = ['R','Python', 'SAS', 'Scala', 42],

In [4]:
languages = ['R','Python', 'SAS', 'Scala', 42]

Print the number of elements in the list

In [5]:
len(languages)

5

Using for loop iterate and print all the elements in the list

In [6]:
for i in languages:
    print(i)

R
Python
SAS
Scala
42

Select the second item, 'Python' and store it in a new variable named 'temp'

In [7]:
temp = languages[1]

Print the value of temp and type(temp)

In [8]:
print(f'value : {temp} , type : {type(temp)}')

value : Python , type : <class 'str'>

Append the element 'Java' in the list

In [9]:
languages.append('Java')
languages

['R', 'Python', 'SAS', 'Scala', 42, 'Java']

Remove the element 42 from the list and print the list

In [10]:
languages.remove(42)
languages

['R', 'Python', 'SAS', 'Scala', 'Java']

### Create a list, colors = [‘Red’, ‘Blue’, ‘White’]

In [11]:
colors = ['Red', 'Blue', 'White']

Append the element 'Black' to colors

In [12]:
colors.append('Black')
colors

['Red', 'Blue', 'White', 'Black']

Append the color 'Orange' to second position (index=1) and print the list

In [13]:
colors.insert(1,'Orange')
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Print the list

In [14]:
colors

['Red', 'Orange', 'Blue', 'White', 'Black']

Create another list, colors2 = [‘Grey’, ‘Sky Blue’]

In [15]:
colors2 = ['Grey', 'Sky Blue']

Add the elements of colors2 to colors using extend function in the list

In [16]:
colors.extend(colors2)
colors

['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Print len of colors and its elements

In [17]:
print(f'length : {len(colors)} , elements = {colors}')

length : 7 , elements = ['Red', 'Orange', 'Blue', 'White', 'Black', 'Grey', 'Sky Blue']

Sort the list and print it.

In [18]:
colors.sort()
colors

['Black', 'Blue', 'Grey', 'Orange', 'Red', 'Sky Blue', 'White']

### Create a string, sent = ‘Coronavirus Caused Lockdowns Around The World.”

In [19]:
sent = 'Coronavirus Caused Lockdowns Around The World.'

Use split function to convert the string into a list of words and save it in variable words and print the same

In [20]:
words = list(sent.split(' '))
words

['Coronavirus', 'Caused', 'Lockdowns', 'Around', 'The', 'World.']

Convert each word in the list to lower case and store it in variable words_lower.
Print words_lower

In [21]:
words_lower = []
for i in words:
    words_lower.append(i.lower())
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'the', 'world.']

Check whether ‘country’ is in the list

In [22]:
'country' in words_lower

False

Remove the element ‘the’ from the list and print the list.

In [23]:
words_lower.remove('the')
words_lower

['coronavirus', 'caused', 'lockdowns', 'around', 'world.']

Select the first 4 words from the list words_lower using slicing and store them in a new variable x4

In [24]:
x4 = words_lower[0:4]
x4

['coronavirus', 'caused', 'lockdowns', 'around']

In [25]:
# print x4
print(x4)

['coronavirus', 'caused', 'lockdowns', 'around']

Convert the list of elements to single string using join function and print it

In [26]:
add = ' '
for i in x4:
    add += ' ' + i
add

'  coronavirus caused lockdowns around'

## Sets

### Create stud_grades = ['A','A','B','C','C','F']

In [27]:
stud_grades = ['A','A','B','C','C','F']

Print the len of stud_grades

In [28]:
len(stud_grades)

6

Create a new variable, stud_grades_set = set(stud_grades)

In [29]:
stud_grades_set = set(stud_grades)

Print stud_grades_set.

In [30]:
stud_grades_set

{'A', 'B', 'C', 'F'}

print the type of stud_grades and stud_grades_set and print their corresponding elements. Try to understand the difference between them.

In [31]:
print(f'type : {type(stud_grades)} , elements : {stud_grades_set}')

type : <class 'list'> , elements : {'F', 'B', 'C', 'A'}

Add a new element ‘G’ to stud_grades_set

In [32]:
stud_grades_set.add('G')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

Add element 'F' to stud_grades_set. and print it.

In [33]:
stud_grades_set.add('F')
stud_grades_set

{'A', 'B', 'C', 'F', 'G'}

!!Did you notice? set doesn't add an element if it's already present in it, unlike lists.

Remove ‘F’ from stud_grades_set

In [34]:
stud_grades_set.discard('F')
stud_grades_set

{'A', 'B', 'C', 'G'}

Print the elements and the length of stud_grades_set

In [35]:
print(f'elements : {stud_grades_set} , length : {len(stud_grades_set)}')

elements : {'G', 'A', 'C', 'B'} , length : 4

### Create colors = [‘red’,’blue’,’orange’], and fruits = [‘orange’,’grapes’,’apples’]

In [36]:
colors = ['red','blue','orange']
fruits = ['orange','grapes','apples']

Print color and fruits

In [37]:
print(f'colors : {colors}')
print(f'fruits : {fruits}')

colors : ['red', 'blue', 'orange']
fruits : ['orange', 'grapes', 'apples']

Create colors_set, and fruits_set. (using set() ) and print them

In [38]:
colors_set = set(colors)
fruits_set = set(fruits)

Find the union of both the sets.

In [39]:
colors_set.union(fruits_set)

{'apples', 'blue', 'grapes', 'orange', 'red'}

Find the intersection of both the sets

In [40]:
colors_set.intersection(fruits_set)

{'orange'}

Find the elements which are Fruits but not colors (using set.difference() )

In [41]:
fruits_set.difference(colors_set)

{'apples', 'grapes'}

## TUPLES

### Create temp = [17, ’Virat’, 50.0]

In [42]:
temp = [17, 'Virat', 50.0]

Iterate through temp and print all the items in temp

In [43]:
for i in temp:
    print(i)

17
Virat
50.0

replace first element with 11 in temp

In [44]:
temp[0] = 11
temp

[11, 'Virat', 50.0]

Set temp1 = tuple(temp)

In [45]:
temp1 = tuple(temp)
temp

[11, 'Virat', 50.0]

Iterate through temp1 and print all the items in temp1.

In [46]:
for i in temp1:
    print(i)

11
Virat
50.0

replace first element with 17 in temp1

In [48]:
temp1[0] = 17

TypeError: 'tuple' object does not support item assignment

<b>Oops!! You got an error. Hey Don't worry! Its because Once a tuple is created, you cannot change its values unlike list.</b>

### Create city = ("Bangalore", 28.9949521, 72)

In [49]:
city = ("Bangalore", 28.9949521, 72)

Print first element of city

In [50]:
city[0]

'Bangalore'

Create city2 = (‘Chennai’, 30.01, 74)

In [51]:
city2 = ('Chennai', 30.01, 74)


Create cities which consist of city and city2

In [52]:
cities = [city[0] , city2[0]]
cities

['Bangalore', 'Chennai']

Print cities

In [53]:
cities

['Bangalore', 'Chennai']

Print type of first element in cities

In [54]:
type(cities[0])

str

print the type of cities

In [55]:

type(cities)

list

Hey that implies you made a nested tuples!!

## DICTIONARY

### Create a dictionary d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

In [56]:
d = {"actor":"amir","animal":"cat","earth":2,"list":[23,32,12]}

Print the value of d[0]

In [57]:
d[0]

KeyError: 0

<b>Oops!! again an error. again a fun fact. Dictionary return the value for key if key is in the dictionary, else throws KeyError
and we don't have key 0 here :( </b>

Store the value of d[‘actor’] to a new variable actor.

In [58]:

d['actor'] = 'actor'
d

{'actor': 'actor', 'animal': 'cat', 'earth': 2, 'list': [23, 32, 12]}

Print the type of actor

In [59]:
type(d['actor'])

str

Store the value of d[‘list’] in new variable List.

In [60]:
d['list'] = 'List'
d

{'actor': 'actor', 'animal': 'cat', 'earth': 2, 'list': 'List'}

Print the type of List.

In [61]:
type(d['list'])

str

Create d1 = { ‘singer’ : ‘Kr$na’ , ‘album’: ‘Still here’, ‘genre’ : ‘hip-hop’}

In [62]:
d1 = { 'singer' : 'Kr$na' , 'album': 'Still here', 'genre' : 'hip-hop'}

Merge d1 into d.

In [63]:
d.update(d1)

print d

In [64]:

d

{'actor': 'actor',
 'animal': 'cat',
 'earth': 2,
 'list': 'List',
 'singer': 'Kr$na',
 'album': 'Still here',
 'genre': 'hip-hop'}

Print all the keys in d

In [65]:
d.keys()

dict_keys(['actor', 'animal', 'earth', 'list', 'singer', 'album', 'genre'])

Print all the values in d

In [66]:
d.values()

dict_values(['actor', 'cat', 2, 'List', 'Kr$na', 'Still here', 'hip-hop'])

Iterate over d, and print each key, value pair as this - (actor ----> amir)

In [67]:
for key, value in d.items():
    print(f'({key} ----> {value})')

(actor ----> actor)
(animal ----> cat)
(earth ----> 2)
(list ----> List)
(singer ----> Kr$na)
(album ----> Still here)
(genre ----> hip-hop)

count the number of occurences of charachters in string named "sent" using dictionary and print the same.

In [68]:
string = 'sent'
dictionary = {}
for i in string:
    if i in dictionary.keys():
        dictionary[i] += 1
    else:
        dictionary[i] = 1
dictionary

{'s': 1, 'e': 1, 'n': 1, 't': 1}